body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 800px;
}

div#map {
	float: left;
	width: 800px;
}

input#title {
	width: 100%;
}
.b-modal {
                position: relative;
                width: 400px;
                padding: 24px;
                background: #fff;
                border: 3px solid #bbb;
                border-radius: 10px;
                }
                .b-modal_close {
                position: absolute;
                right: 12px;
                top: 6px;
                font-weight: bold;
                color: #999;
                cursor: pointer;
                }
                .b-modal_close:hover {
                color: #000;
                }